body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    text-decoration-style: none;
}

ul {
    list-style: none;
}

.txtsuperior {
    font-family:"Raleway" ;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter: spacing 0.03em;
    color: #2196F3;
}

.txtcorreo{
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2196F3;
}

.txttel{
    width: 118px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
}

.hero-title {

    height: 600px;
    width: 1600px;
    left: -4px;
    top: 80px;
    border-radius: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 33px;
    line-height: 60px;
   
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF; 
    position: center;
width: 1600px;
height: 600px;
left: -4px;
top: 80px;

background: #2F303A   
}

.titulovalores {
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
}

.txtnosadent{
width: 270px;
height: 75px;
left: 215px;
top: 801px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575
}
.botonsoluciones {
    background-color: #2196F3;
    cursor: pointer;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 32px;
gap: 10px;

position: center;
width: 261px;
height: 50px;
left: 666px;
top: 430px;
background: #2196F3;
}

.txtaquenos {
width: 371.15px;
height: 46.24px;
left: 619.43px;
top: 991px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
}

.imgprimero {
width: 373.16px;
height: 323.7px;
left: 215px;
top: 1092.3px;
position: center;
}

.txtnuestroequipo {
width: 263px;
height: 42px;
left: 669px;
top: 1604px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
}

.imgprofesores {
width: 270px;
height: 260px;
left: 208px;
top: 1696px;
}

.nombreprofesor {
width: 97px;
height: 19px;
left: 295px;
top: 1986px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
}
.Cargo {
width: 181px;
height: 19px;
left: 253px;
top: 2015px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
}

.txtcorreofooter{
width: 231px;
height: 21px;
left: 215px;
top: 2306px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}
.txttelfooter {
width: 231px;
height: 21px;
left: 215px;
top: 2329px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}
